
form{
    width: 60%;
    margin:5% 100% auto 25%;
}

form label {
    display: inline-block;
    width: 225px;
    font-weight: bold;
    text-transform:capitalize;
    line-height: 25px;
    letter-spacing: 1px;
}
  
